#jinja2:trim_blocks:True,lstrip_blocks:True
{% set www_owner_uid = www_owner.user_id | default(www.permissions.owner) %}
{% set www_owner_gid = www_owner.group_id | default(www.permissions.group) %}
{% set include_ssl = invoiceplane.ssl | default(false, true) %}
{% set database_settings = invoiceplane.database | default([], true) %}
{% set phpfpm_image_version = invoiceplane.docker_image_versions.php_fpm | default('fpm-alpine', true) %}
{% set mysql_image_version = invoiceplane.docker_image_versions.mysql | default('latest', true) %}
version: '3'

services:
    nginx:
        build:
            context: ./
            dockerfile: Dockerfile-nginx
            args:
                - NGINX_VERSION=alpine
                - UID={{ www_owner_uid }}
                - GID={{ www_owner_gid }}
        expose:
            - "80"
        environment:
            - VIRTUAL_HOST={{ invoiceplane.domain }}
            {% if include_ssl %}
            - LETSENCRYPT_HOST={{ invoiceplane.domain }}
            - LETSENCRYPT_EMAIL={{ admin_email }}
            {% else %}
            - HTTPS_METHOD=nohttps
            {% endif %}
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./logs:/var/log/nginx
            - ./public:/var/www
        links:
            - php-fpm
        restart: always

    php-fpm:
        build:
            context: ./
            dockerfile: Dockerfile-php-fpm
            args:
                - PHP_VERSION={{ phpfpm_image_version }} # Docker image must be rebuilt for the PHP version to be updated
                - UID={{ www_owner_uid }}
                - GID={{ www_owner_gid }}
        working_dir: /var/www
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - ./conf/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini:ro
            - ./public:/var/www
        links:
            - mysql
        restart: always

    mysql:
        image: mysql:{{ mysql_image_version }}
        environment:
            - MYSQL_DATABASE={{ database_settings.database_name }}
            - MYSQL_RANDOM_ROOT_PASSWORD=true
            - MYSQL_USER={{ database_settings.user_name }}
            - MYSQL_PASSWORD={{ database_settings.user_password }}
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - ./data/mysql:/var/lib/mysql
        restart: always

networks:
    default:
        external:
            name: nginx-proxy
