#jinja2:trim_blocks:True,lstrip_blocks:True
{% set path = item.path %}
{% set options = item.options | default([], true) %}
{% set scripts = item.scripts | default([], true) %}
{{ path }} {
    {% if options %}
    {% for option in options %}
    {{ option }}
    {% endfor %}
    {% endif %}
    {% if scripts %}
    {% for name, script in scripts.iteritems() %}
    {{ name }}
        {{ script }}
    endscript
    {% endfor %}
    {% endif %}
}
