#jinja2:trim_blocks:True,lstrip_blocks:True
{% set include_ssl = jenkins.ssl | default(false, true) %}
{% set jenkins_domain = jenkins.domain | default('', true) %}
{% set jenkins_image_version = jenkins.docker_image_version | default('lts-alpine', true) %}
version: '3'

services:
    jenkins:
        build:
            context: ./
            dockerfile: Dockerfile
            args:
                - JENKINS_VERSION={{ jenkins_image_version }} # Docker image must be rebuilt for the Jenkins version to be updated
        expose:
            - "80"
        environment:
            - VIRTUAL_HOST={{ jenkins_domain }}
            - VIRTUAL_PORT=8080
            {% if include_ssl %}
            - LETSENCRYPT_HOST={{ jenkins_domain }}
            - LETSENCRYPT_EMAIL={{ admin_email }}
            {% else %}
            - HTTPS_METHOD=nohttps
            {% endif %}
        volumes:
            - ./data:/var/jenkins_home
            - /var/run/docker.sock:/var/run/docker.sock
        restart: always

networks:
    default:
        external:
            name: nginx-proxy
