#jinja2:trim_blocks:True,lstrip_blocks:True
{% set www_owner_uid = www_owner.user_id | default(www.permissions.owner) %}
{% set www_owner_gid = www_owner.group_id | default(www.permissions.group) %}
{% set include_php = outer_item[0].php | default(false, true) %}
{% set include_database = outer_item[0].database | default(false, true) %}
{% set include_ssl = outer_item[0].nginx.ssl | default(false, true) %}
{% set is_live_site = outer_item[1] == 'live' %}
{% set database_settings = outer_item[0].database | default([], true) %}
{% set domain_names = outer_item[0].domains[outer_item[1]] | default([], true) %}
{% set phpfpm_image_version = outer_item[0].docker_image_versions.php_fpm | default('fpm-alpine', true) %}
{% set mysql_image_version = outer_item[0].docker_image_versions.mysql | default('latest', true) %}
version: "3"

services:
    nginx:
        build:
            context: ./
            dockerfile: Dockerfile-nginx
            args:
                - NGINX_VERSION=alpine
                - UID={{ www_owner_uid }}
                - GID={{ www_owner_gid }}
        expose:
            - "80"
        environment:
            - VIRTUAL_HOST={{ domain_names | join(',') }}
            {% if include_ssl and is_live_site %}
            - LETSENCRYPT_HOST={{ domain_names | join(',') }}
            - LETSENCRYPT_EMAIL={{ admin_email }}
            {% else %}
            - HTTPS_METHOD=nohttps
            {% endif %}
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./conf/nginx/includes:/etc/nginx/default.d:ro
            - ./logs:/var/log/nginx
            - ./public:/var/www
        {% set links = [] %}
        {% do links.append('php-fpm') if include_php %}
        links: {{ links }}
        restart: always

    {% if include_php %}
    php-fpm:
        build:
            context: ./
            dockerfile: Dockerfile-php-fpm
            args:
                - PHP_VERSION={{ phpfpm_image_version }} # Docker image must be rebuilt for the PHP version to be updated
                - UID={{ www_owner_uid }}
                - GID={{ www_owner_gid }}
        working_dir: /var/www
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - ./conf/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini:ro
            - ./public:/var/www
        {% set links = [] %}
        {% do links.append('mysql') if include_database %}
        links: {{ links }}
        restart: always
    {% endif %}

    {% if include_database %}
    mysql:
        image: mysql:{{ mysql_image_version }}
        {% if database_settings.exposed_port %}
        ports:
            - "{{ database_settings.exposed_port }}:3306"
        {% endif %}
        environment:
            - MYSQL_DATABASE={{ database_settings.database_name }}
            {% if database_settings.root_password %}
            - MYSQL_ROOT_PASSWORD={{ database_settings.root_password }}
            {% else %}
            - MYSQL_RANDOM_ROOT_PASSWORD=true
            {% endif %}
            - MYSQL_USER={{ database_settings.user_name }}
            - MYSQL_PASSWORD={{ database_settings.user_password }}
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - ./data/mysql:/var/lib/mysql
        restart: always
    {% endif %}

networks:
    default:
        external:
            name: nginx-proxy
