#jinja2:trim_blocks:True,lstrip_blocks:True
{#
    This should be a very simple Nginx server listening on a single port (doesn't have to be 80) - just enough to communicate with the reverse proxy.
    The Nginx reverse proxy will accept a request from a client, forward it to this server, and return the server's response to the client.
    HTTPS and SSL certificates are handled on the reverse proxy side too.
#}
{% set root_subdirectory = outer_item[0].nginx.subdirectory | default('', true) %}
{% set include_php = outer_item[0].php | default(false, true) %}
{% set is_live_site = outer_item[1] == 'live' %}
{% set is_wordpress = outer_item[0].wordpress | default(false, true) %}
{% set is_jekyll = outer_item[0].jekyll | default(false, true) %}
{% set redirect_to_non_www = outer_item[0].nginx.www_redirection == 'non-www' %}
{% set redirect_to_www = outer_item[0].nginx.www_redirection == 'www' %}
{% set conf_paths = outer_item[0].nginx.includes | default([], true) %}
{% set custom_location = outer_item[0].nginx.custom_location | default('', true) %}
{% set domain_names = outer_item[0].domains[outer_item[1]] | default([], true) %}
server {
    listen 80;

    server_name _;

    root        /var/www/{{ root_subdirectory }};
    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;

    index       index.php index.html index.htm;

    {% if custom_location %}
    {# The "-}}" is to strip any whitespace at the end of the string #}
    {{ custom_location | indent -}}
    {% endif %}

    {% if is_wordpress %}
    # Single WordPress site config
    # https://www.nginx.com/resources/wiki/start/topics/recipes/wordpress/
    location / {
        # This is cool because no php is touched for static content.
        # include the "?$args" part so non-default permalinks doesn't break when using query string
        try_files $uri $uri/ /index.php?$args;
    }
    {% endif %}

    {% if is_jekyll %}
    # Remove trailing slash (but first check if requested page exists)
    location ~ ^/(?<uri_between_slashes>.*)/$ {
        if (-f $document_root/$uri_between_slashes.html) {
            return 301 $scheme://$host/$uri_between_slashes;
        }
        return 404;
    }

    # Hide .html files
    location ~ \.html$ {
        return 404;
    }

    # Extensionless permalinks
    location / {
        try_files $uri $uri.html $uri/index.html =404;
    }
    {% endif %}

    {% if include_php %}
    location ~ \.php$ {
        # Zero-day exploit defense
        # http://forum.nginx.org/read.php?2,88845,page=3
        # Won't work properly (404 error) if the file is not stored on this server, which is entirely possible with php-fpm/php-fcgi
        # Comment the 'try_files' line out if you set up php-fpm/php-fcgi on another machine.  And then cross your fingers that you won't get hacked.
        try_files       $uri $uri/ =404;

        fastcgi_pass    php-fpm:9000;
        fastcgi_index   index.php;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;

        include         fastcgi_params;
    }
    {% endif %}

    {% if conf_paths %}
    {% for path in conf_paths %}
    include     /etc/nginx/default.d/{{ path }};
    {% endfor %}
    {% endif %}
}

{% if domain_names and is_live_site %}
    {% if redirect_to_non_www %}
    server {
        listen 80;

        server_name ~^(www\.)(?<domain>{{ domain_names | reject('match', 'www.*') | join('|') }})$;

        return 301 $scheme://$domain$request_uri;
    }
    {% elif redirect_to_www %}
    server {
        listen 80;

        server_name ~^(?<domain>{{ domain_names | reject('match', 'www.*') | join('|') }})$;

        return 301 $scheme://www.$domain$request_uri;
    }
    {% endif %}
{% endif %}
