#jinja2:trim_blocks:True,lstrip_blocks:True
version: "3"

services:
    nginx-proxy:
        image: jwilder/nginx-proxy:alpine
        labels:
            com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
        ports:
            - "80:80"
            - "443:443"
        environment:
            - DEFAULT_HOST={{ www.default_domain }}
            - ENABLE_IPV6=false
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - /var/run/docker.sock:/tmp/docker.sock:ro
            - ./certs:/etc/nginx/certs:ro
            - ./vhost.d:/etc/nginx/vhost.d
            - ./public:/usr/share/nginx/html
        restart: always

    nginx-letsencrypt:
        image: jrcs/letsencrypt-nginx-proxy-companion
        volumes:
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./certs:/etc/nginx/certs:rw
            - ./vhost.d:/etc/nginx/vhost.d
            - ./public:/usr/share/nginx/html
        depends_on:
            - "nginx-proxy"
        restart: always

networks:
    default:
        external:
            name: nginx-proxy
