#jinja2:trim_blocks:True,lstrip_blocks:True
{% set docker_dir = docker.project_dir | default('', true) %}
{% set backups_dir = backups_dir | default('', true) %}
# Based on https://0xacab.org/riseuplabs/backupninja/blob/master/handlers/mysql.in

containers_dir="{{ docker_dir }}"
mysql_backups_dir="{{ backups_dir }}/mysql"

su_cmd="su root"
docker_cmd="docker-compose"
mysql_cmd="/usr/bin/mysql --defaults-extra-file=/tmp/my.cnf"
mysqldump_cmd="/usr/bin/mysqldump --defaults-extra-file=/tmp/my.cnf"
gzip_cmd="/bin/gzip"

if [ -z "$containers_dir" ]; then
    info "Path to Docker containers wasn't provided"
    exit 0
fi

# Make sure backups directory exists
[ -d $mysql_backups_dir ] || mkdir -p $mysql_backups_dir

info "Initialising MySQL dump for Docker containers in $containers_dir"
container_dirs=`$su_cmd -c "find $containers_dir -type f -name docker-compose.yml -printf \"%h\n\""`

if [ -z "$container_dirs" ]; then
    info "No Docker containers found"
    exit 0
fi

for container_dir in $container_dirs; do
    container_name="${container_dir##*/}" # Get everything after last "/" (last directory name)

    cd $container_dir

    # Check if there is a Docker service called "mysql" running in this container
    if ! $su_cmd -c "$docker_cmd exec -T mysql /bin/bash -c 'echo 1'" >/dev/null 2>&1; then
        info "${container_dir}: No MySQL service running"
        continue
    fi

    # Create a temporary my.cnf file inside the container
    debug "${container_dir}: Creating /tmp/my.cnf"
    $su_cmd -c "$docker_cmd exec -T mysql /bin/bash -c 'printf \"# Auto-generated backupninja MySQL conf\n\
[mysql]\n\
host=localhost\n\
user=\`printenv MYSQL_USER\`\n\
password=\`printenv MYSQL_PASSWORD\`\n\
\n\
[mysqldump]\n\
host=localhost\n\
user=\`printenv MYSQL_USER\`\n\
password=\`printenv MYSQL_PASSWORD\`\n\
\" > /tmp/my.cnf'"

    # Get all database names
    debug "${container_dir}: Getting database names"
    databases=`$su_cmd -c "$docker_cmd exec -T mysql /bin/bash -c '$mysql_cmd --batch --skip-column-names -e \"show databases\"'"`

    if [ $? -ne 0 ]; then
        error "${container_dir}: Authentication problem, maybe user/password is wrong or mysqld is not running?"
    else
        # Remove carriage returns and unwanted databases
        databases=`echo "$databases" | tr -d "\r" | egrep -v "^(information_schema|mysql|test)$"`

        for database in $databases; do
            # Path to the archive containing the MySQL dump
            archive_path="${mysql_backups_dir}/${container_name}--${database}.sql.gz"

            # Dump database, compress output and save on host (not container)
            debug "${container_dir}: Dumping database $database"
            output=`$su_cmd -c "set -o pipefail; $docker_cmd exec -T mysql /bin/bash -c '$mysqldump_cmd --lock-tables --complete-insert --add-drop-table --quick --quote-names $database' | $gzip_cmd --rsyncable > $archive_path" 2>&1`

            if [ $? -ne 0 ]; then
                warning "${container_dir}: $output"
                warning "${container_dir}: Failed to dump database $database"
            else
                debug "${container_dir}: $output"
                info "${container_dir}: Successfully finished dump of database $database"
            fi
        done
    fi

    # Clean up temporary files
    debug "${container_dir}: Deleting /tmp/my.cnf"
    $su_cmd -c "$docker_cmd exec -T mysql /bin/bash -c 'rm /tmp/my.cnf'"
done
