#jinja2:trim_blocks:True,lstrip_blocks:True
{% set duplicity_options = duplicity_options | default('', true) %}
{% set gpg_key_id = gpg_key_id | default('', true) %}
{% set gpg_key_passphrase = gpg_key_passphrase | default('', true) %}
{% set backups_dir = backups_dir | default('', true) %}
{% set duplicity_settings = backupninja.duplicity | default([], true) %}
{% set include_paths = duplicity_settings.include | default([], true) %}
{% set exclude_paths = duplicity_settings.exclude | default([], true) %}
{% set s3_destination_url = s3_destination_url | default('', true) %}
# See https://0xacab.org/riseuplabs/backupninja/blob/master/examples/example.dup

options ={{ duplicity_options }}
nicelevel = 19
testconnect = no

[gpg]

sign = yes
encryptkey = {{ gpg_key_id }}
password = {{ gpg_key_passphrase }}

[source]

include = {{ backups_dir }}
{% if include_paths %}
{% for path in include_paths %}
include = {{ path }}
{% endfor %}
{% endif %}

exclude = /root/.gnupg
exclude = /home/*/.gnupg
exclude = /var/cache/backupninja/duplicity
{% if exclude_paths %}
{% for path in exclude_paths %}
exclude = {{ path }}
{% endfor %}
{% endif %}

[dest]

incremental = {{ 'yes' if duplicity_settings.incremental else 'no' }}
increments = {{ duplicity_settings.increments }}
keep = {{ duplicity_settings.keep }}
keepincroffulls = {{ duplicity_settings.keepincroffulls }}
desturl = {{ s3_destination_url }}

bandwidthlimit = 0
