#jinja2:trim_blocks:True,lstrip_blocks:True
{% set region = backupninja.s3.bucket.region | default('eu-central-1', true) %}
# See http://boto3.readthedocs.io/en/latest/guide/quickstart.html#configuration

[default]
region = {{ region }}
