#jinja2:trim_blocks:True,lstrip_blocks:True
{% set credentials = backupninja.s3.credentials | default([], true) %}
# See http://boto3.readthedocs.io/en/latest/guide/quickstart.html#configuration

[default]
aws_access_key_id = {{ credentials.access_key_id }}
aws_secret_access_key = {{ credentials.secret_access_key }}
