#jinja2:trim_blocks:True,lstrip_blocks:True
{% set name = gpg_key.name | default('', true) %}
{% set email = gpg_key.email | default('', true) %}
{% set passphrase = gpg_key_passphrase | default('', true) %}
%echo Generating a basic OpenPGP key
Key-Type: RSA
Key-Length: 4096
Name-Real: {{ name }}
Name-Email: {{ email }}
Expire-Date: 0
{% if passphrase %}
Passphrase: {{ passphrase }}
{% endif %}
%commit
%echo done
