#jinja2:trim_blocks:True,lstrip_blocks:True
{% set include_docker = include_docker_backup | default(false, true) %}
{% set docker_dir = docker.project_dir | default('', true) %}
{% set backups_dir = backups_dir | default('', true) %}
{% set duplicity_options = duplicity_options | default('', true) %}
{% set gpg_key_passphrase = gpg_key_passphrase | default('', true) %}
{% set s3_destination_url = s3_destination_url | default('', true) %}
#!/bin/sh

# This script checks and restores backups from Amazon S3
#
# It will also copy all MySQL dumps to the relevant Docker container directories (in a directory called ".restore").
# The archive file names should be in the format "CONTAINER_NAME--DATABASE_NAME.sql.gz", so we know which Docker containers they belong to.

{% if include_docker %}
containers_dir="{{ docker_dir }}"
mysql_backups_dir="{{ backups_dir }}/mysql"
{% endif %}

su_cmd="su root"
duplicity_cmd="duplicity {{ duplicity_options }} --no-print-statistics --archive-dir /var/cache/backupninja/duplicity"
gzip_cmd="/bin/gzip"

export PASSPHRASE="{{ gpg_key_passphrase }}"

case "$1" in
    check)
        # Get list of files in S3 and supress stdout and stderr (we only need the exit code)
        output=`$su_cmd -c "$duplicity_cmd list-current-files {{ s3_destination_url }}" 2>&1`
        code=$?

        if [ $code -ne 0 ]; then
            echo "No backups found:"
            echo "$output" | sed 's/^/  /' # Indent the output with sed
        fi
        ;;

    restore)
        # Try to restore existing backup
        $su_cmd -c "$duplicity_cmd --force restore {{ s3_destination_url }} /"
        code=$?

        {% if include_docker %}
        if [ $code -eq 0 ]; then
            archive_paths=`$su_cmd -c "find $mysql_backups_dir -type f -name *.sql.gz -printf \"%p\n\""`

            if [ -z "$archive_paths" ]; then
                echo "No MySQL dump archives found"
            else
                for archive_path in $archive_paths; do
                    archive_file="${archive_path##*/}" # Get everything after last "/" (file name with extension)

                    # File name format: CONTAINER_NAME--DATABASE_NAME.sql.gz
                    archive_file_name="${archive_file%%.*}" # Get everything before first "." (file's name)
                    container_name=${archive_file_name%%--*} # Get everything before first "--"
                    database=${archive_file_name##*--} # Get everything after last "--"

                    # Make sure the ".restore" directory exists inside this container's directory
                    [ -d "${containers_dir}/${container_name}/.restore" ] || mkdir -p "${containers_dir}/${container_name}/.restore"

                    # Path to the MySQL dump
                    dest_path="${containers_dir}/${container_name}/.restore/${database}.sql"

                    # Extract archive
                    $su_cmd -c "$gzip_cmd --decompress --stdout $archive_path > $dest_path"

                    if [ $? -ne 0 ]; then
                        echo "Error restoring MySQL dump archive $archive_path to $dest_path"
                    else
                        echo "MySQL dump restored to $dest_path"
                    fi
                done
            fi
        fi
        {% endif %}
        ;;

    *)
        echo "Usage: $0 {check|restore}"
        code=1
esac

unset PASSPHRASE

exit $code
